/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./cards.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: "Mukta", sans-serif;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


/* #region Header */
.header {
  position: sticky;
  top:0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  padding: 20px;
    box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
  -webkit-box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
  -moz-box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
}

.header .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #region Form*/
#search-form{
  max-width: 300px;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0px;

  border-radius: 10px;
  outline: none;
  overflow: hidden;
  box-shadow: transparent;
  border: none;
  transition: box-shadow 250ms ease-in;

}

#search-form:is(:hover, :focus){
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
-webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
}

.search-input {
  width: 100%;
  padding: 10px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .04em;

  outline: transparent;
  border: transparent;
}
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgba(56, 56, 56, 0.648);
  background-color: rgb(216, 216, 216);
  transition: color, background-color 250ms ease-in;
}

.search-icon {
  fill: currentColor;
  transform: scale(0.8);
  transition: transform 250ms ease-in;
}

.search-btn:is(:hover, :focus){
  color: rgb(0, 0, 0);
  background-color: rgb(145, 145, 145);


  .search-icon {
    transform: scale(1.05);
  }
}

/* #endregion */

.main-content{
  padding-bottom: 40px;
}

.btn-load{
  display: block;
  margin: 0 auto;
  max-width: 160px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color:rgba(215, 216, 216, 0.864);;
  color: #272727c1;
  border: none;
  font-size: 16px;
  font-weight: 600;

  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.btn-load:is(:hover, :focus){
   background-color: #4c4444c1;
   color: rgba(255, 255, 255, 0.864);
}

.btn-hidden{
  display: none;
}